<!DOCTYPE html>
<html lang="en">

<%- include('layout/header.ejs') %>

    <body>
        <%- include('layout/nav.ejs') %>
            <header>
                <h1 class="text-center">Dashboard</h1>
                <h4 class="text-center">DriveTest Booking Kiosk</h4>
            </header>
            <main class="container">
                <div class="dashboard-section">
                    <h1>You can book G2/G Drive test from this Kiosk!</h1>
                    <h4>You can book G2/G Drive test from this Kiosk!</h4>
                </div>
            </main>
    </body>



</html>