<!DOCTYPE html>
<html lang="en">

<%- include('layout/header.ejs') %>

    <body>
        <%- include('layout/nav.ejs') %>
            <main>
                <div class="container">
                    <div class="col-4 offset-4 mt-5">
                        <h2 class="text-center mb-3">Welcome to Book DriveTest</h2>
                        <form>
                            <div class="form-group mb-2">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" placeholder="Enter username">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Password">
                            </div>
                            <div class="form-group form-check mb-3">
                                <input type="checkbox" class="form-check-input" id="rememberMe">
                                <label class="form-check-label" for="rememberMe">Keep me signed in</label>
                            </div>
                            <button type="button" class="btn btn-primary w-100 mb-2">Log In</button>
                            <button type="button" class="btn btn-secondary w-100">New user? Register now</button>
                        </form>
                    </div>
                </div>
            </main>
    </body>
</html>